@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
  margin: 0;
  font-family: "Lora", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Lora", serif;
}

:root {
  --background-color-light: #fff;
  --text-color-light: #000;
  --background-color-dark: #292929;
  --text-color-dark: #fff;
  --background-search-light: #f4f4f4;
  --background-search-dark: #222222;
  --text-color-search-light: #000;
  --text-color-search-dark: #fff;
}

body.light {
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
  --background-search: var(--background-search-light);
  --text-color-search: var(--text-color-search-light);
}

body.dark {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
  --background-search: var(--background-search-dark);
  --text-color-search: var(--text-color-search-dark);
}

/* Use the variables for specific elements */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for theme change */
}



